
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(http://localhost/xdv-main//img/color.png);
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
}