*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(http://localhost/xdv-main//img/xeroxb.jpg);
    justify-content: center;
    background-size: cover;
    color: #ffffff;
}

.btn-inicio{
  margin-left: 30%;
  padding: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  background-color: #be1b2ba9;
  border-radius:1.5rem;
  border:none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 5rem;
}

/*detination*/

.destination-item img {
    transition: .5s;
  }
  
  .destination-item:hover img {
    transform: scale(1.3);
  }
  
  .destination-overlay {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(210, 20, 20, 0.284);
    transition: .5s;
    z-index: 1;
  }
  
  .destination-item:hover .destination-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 30px;
}
