

/*DESTINATION*/

.destination-item img{
    transition: .5s;
}

.destination-item:hover img{
    transform: scale(1.3);
}

.destination-overlay{
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(7, 7, 7, 0.284);
    border: 1px solid rgba(7, 7, 7, 0.284);
    transition: .5s;
    z-index: 1;
}

.destination-item:hover .destination-overlay{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 30px;
}

.prue{
    background-image: url(http://localhost/xdv-main/S/img/prue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    position: relative;
}

/*-sesion img public*/
.global-services{
    background-image: url(http://localhost/xdv-main//img/franja\ red.webp);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
