/*img_intro*/

.blog-container-cover{
    width: 100%;
    height: 580px;
    position: relative;
    margin-top: 70px;
    background-image: url(http://localhost/xdv-main//img/imgheader/soporte\ remoto.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*insert_Sombra*/
.blog-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(11, 11, 11, 0.489);
    position: absolute;
    top: 0;
    left: 0;
}